<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appudo.rsmapp.smappcsharp" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Introduccion"
            android:label="@string/title_activity_introduccion" >
        </activity>
        <activity
            android:name=".Sugerencias"
            android:label="@string/title_activity_sugerencias" >
        </activity>
        <activity
            android:name=".Curso"
            android:label="@string/title_activity_curso" >
        </activity>
        <activity
            android:name=".Ejercicios"
            android:label="@string/title_activity_ejercicios" >
        </activity>
        <activity
            android:name=".About"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name=".Examen"
            android:label="@string/title_activity_examen" >
        </activity>
        <activity
            android:name=".preguntas"
            android:label="@string/title_activity_preguntas" >
        </activity>
        <activity
            android:name=".contenido"
            android:label="@string/title_activity_contenido" >
        </activity>
    </application>

</manifest>
